html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center 14%;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

main {
    flex-grow: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* GLOBAL */

.container {
    max-width: 1060px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-article {
    max-width: 1060px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    border: none;
    cursor: pointer;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
}

.vacancy-main,
.policy-main {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(50px);
}

.header-page {
    padding-bottom: 55px;
}

.jq-selectbox__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 25px 0 0;
    border: none;
    border-bottom-color: none;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-shadow: none;
}

.jq-selectbox__select:hover {
    background: transparent;
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 13px;
    right: 8px;
    width: 11px;
    height: 6px;
    border: none;
    background-image: url(../images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jq-selectbox__dropdown {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 30px rgba(118, 115, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.jq-selectbox li:hover {
    background-color: #7774FF;
    color: #FFF;
}

.jq-selectbox li.selected {
    background-color: #FFF;
    color: #333333;
}


.breadcrumbs {
    padding: 34px 0 20px;
}

.breadcrumbs__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    list-style: none;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__item:hover .breadcrumbs__link {
    color: #1311a8;
}

.breadcrumbs__item::after {
    content: url(../images/icons/breadcrumbs-arrow.svg);
    position: absolute;
    top: -1px;
    right: -12px;
}

.breadcrumbs__item:last-child::after {
    content: "";
}

.breadcrumbs__link {
    color: #5351B8;
}