/* HEADER */
.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 0px;
}

.logo__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header__btn {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    width: 116px;
    height: 39px;
    background: #009C64;
    box-shadow: 0px 10px 30px rgba(0, 156, 100, 0.3);
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    align-self: flex-end;
    transition: transform .3s;
}

.header__btn:hover {
    transition: transform .3s;
    transform: scale(1.1);
}

.header__inner-box,
.header__languages {
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.header__languages {
    position: relative;
    gap: 26px;
}

.header__languages::before {
    content: url(../images/icons/world-mini.svg);
    position: absolute;
    top: 12px;
    left: -20px;
}

.header__languages-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__languages-menu-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}

.header__languages-menu-btn:after {
    content: url(../images/icons/arrow-down.svg);
    position: relative;
    top: -1px;
    right: -3px;
}

.header__languages-menu {
    display: none;
}

.header__languages-menu--active {
    position: absolute;
    top: 40px;
    left: -8px;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 30px rgba(118, 115, 255, 0.3);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 5px;
}

.header__languages-link {
    display: block;
    padding: 5px 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    transition: color .3s ease;
}

.header__languages-link:hover {
    transition: color .3s ease;
    color: #7774FF;
}

/* TOP */

.top__inner {
    text-align: center;
}

.top__title {
    margin-bottom: 10px;
}

.top__slogan {
    font-weight: 300;
    color: #333333;
    margin-bottom: 30px;
}

.top__subtitle {
    font-weight: 300;
    margin-bottom: 5px;
}

.top__subtitle-more {
    font-size: 16px;
    line-height: 19px;
}

.top__subtitle-job {
    font-size: 14px;
    line-height: 17px;
}

.top__control {
    margin: 30px 0px 45px;
}

.top__control-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.top__control-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.top-control-btn {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

/* .top-control-btn:hover {
    transition: transform .3s;
    transform: scale(1.1);
} */

.top-link {
    background: #B5DBFF;
}

/* SEARCH */

.search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.search::before {
    content: url(../images/icons/search.svg);
    position: absolute;
    top: 14px;
    left: 12px;
}

.search__input {
    width: 319px;
    height: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 10px 30px rgba(118, 115, 255, 0.3);
    border-radius: 10px;
    padding: 0 10px 0 45px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.search__btn {
    width: 118px;
    height: 50px;
    background-color: #7774FF;
    filter: drop-shadow(0px 10px 30px rgba(118, 115, 255, 0.3));
    border-radius: 10px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 19px;
    transition: background-color .3s;
    font-weight: 400;
}

.search__btn:hover {
    transition: background-color .3s;
    background-color: #8f8efd;
}

/* FILTER */

.filter {
    position: sticky;
    right: 0;
    top: 20px;
    width: 255px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 35px 23px;
    align-self: flex-start;
}

.filter-btn {
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(118, 115, 255, 0.3);
    border-radius: 7px;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    border: none;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.filter-btn-close {
    display: none;
    border: none;
    background: transparent;
}

.filter-search {
    position: relative;
}

.filter-search:before {
    content: url(../images/icons/filter-search.svg);
    position: absolute;
    top: 11px;
    left: 12px;
}

.filter-search__input {
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 0 10px 0 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    outline: none;
}

.filter-search__input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8B8B8B;
}

.filter__item {
    margin-bottom: 32px;
}

.filter__item:last-child {
    margin-bottom: 0;
}

/* FORM */

.form-title {
    margin-bottom: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-sort__label,
.form-local__label,
.form-salary__label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-sort__label:last-child {
    margin-right: 0px;
}

.form-sort__input,
.form-local__input,
.form-salary__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.form-sort__input:checked+.form-sort__radio,
.form-local__input:checked+.form-local__checkbox,
.form-salary__input:checked+.form-salary__checkbox {
    background: #B7B6FF;
}

.form-sort__radio,
.form-local__checkbox,
.form-salary__checkbox {
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 400;
    cursor: pointer;
}

/* OFFER */

.offer {
    margin-bottom: 67px;
    position: relative;
}

.offer__inner {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.offer__preview {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px;
}

.offer__item {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 30px;
}

.offer__item:last-child {
    margin-bottom: 0px;
}

.offer__item:nth-child(n + 6) {
    display: none;
}

.offer__item.visible {
    display: block;
}

.offer__preview-top {
    margin-bottom: 20px;
}

.offer__preview-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__preview-top-title {
    max-width: 500px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 20px;
}

.offer__preview-top-link {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-decoration: none;
    font-weight: 400;
    background: #B5DBFF;
}

.offer__preview-top-logo {
    border-radius: 10px;
    background: #F5F5F5;
}

.offer__preview-top-img {
    width: 129px;
    height: 39px;
    object-fit: cover;
    border-radius: 10px;
}

.offer__preview-top-price {
    align-self: flex-start;
    margin: 10px 0;
}

.offer__preview-top-price-box {
    align-self: start;
    text-align: end;
    padding-left: 15px;
}

.offer__lead {
    margin-bottom: 20px;
}

.offer__lead-more {
    display: inline-flex;
    align-items: center;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin-left: 10px;
    position: relative;
}

.offer__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__meta-btn {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 8px;
    background: #7774FF;
    border-radius: 10px;
    color: #FFFFFF;
    align-self: flex-start;
}

.offer__meta-btn:hover {
    transition: background-color .3s;
    background-color: #8f8efd;
}

.offer__content {
    max-width: 740px;
    margin-bottom: 63px;
}

.offer__content-bottom {
    padding: 24px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 10px;
}

.offer__content-bottom-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.offer__content-bottom-text {
    margin-bottom: 10px;
}

/* SHOW-MORE BUTTON */

.show-more__btn {
    display: block;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #000000;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    cursor: pointer;
    transition: color .1s;
    margin: 0px auto 30px;
}

.show-more__btn:hover {
    transition: color .1s;
    color: #333333;
}

/* FOOTER */

.footer {
    padding: 32px 0 27px;
    background: rgba(169, 211, 255, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    font-size: 12px;
    line-height: 15px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.footer__item {
    padding-right: 20px;
}

.footer__articles {
    max-width: 200px;
}

.footer__title {
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__text {
    margin-bottom: 15px;
}

.footer__link {
    display: inline-flex;
    align-items: center;
    color: #5351B8;
    position: relative;
}

.footer__link:hover {
    color: #100db6;
}

.footer__menu {
    width: 250px;
}

.footer__logo {
    position: absolute;
    top: -15px;
    right: 0;
    width: 50px;
    height: 50px;
}

.footer__list {
    list-style: none;
}

.footer__list-item {
    margin-bottom: 15px;
}

.footer__list-link {
    color: #333333;
}

.footer__list-link:hover {
    text-decoration: underline;
}

.footer__contact {
    width: 480px;
}

.footer__contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* VACANCY PAGE*/

.vacancy {
    padding-bottom: 86px;
}

.vacancy-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 52px 0 43px;
}

.vacancy-top__search {
    margin: 0 0 0 40px;
}

.vacancy__inner {
    display: flex;
    justify-content: space-between;
}

.vacancy-benefits,
.vacancy__info {
    display: flex;
    flex-direction: column;
}

.vacancy-benefits__box {
    margin-bottom: 26px;
    align-self: flex-end;
}

.vacancy__info-box {
    margin-bottom: 26px;
}

.vacancy__info-title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
}

.vacancy__info-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 29px;
    background: #B5DBFF;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    text-decoration: none;
    margin-right: 20px;
}

.vacancy__info-data {
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

.vacancy-benefits__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.vacancy-benefits__link {
    border-radius: 10px;
    background: #F5F5F5;
}

.vacancy-benefits__img {
    width: 129px;
    height: 39px;
    object-fit: cover;
    border-radius: 10px;
}

.vacancy__info-list {
    list-style: none;
}

.vacancy__info-item {
    font-size: 14px;
    line-height: 17px;
    font-style: italic;
    margin-bottom: 10px;
}

.vacancy-benefits__text {
    font-style: italic;
    max-width: 275px;
    text-align: right;
    align-self: flex-end;
}

.vacancy__content {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.vacancy__content-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0px 15px;
}

.vacancy__content-text {
    margin-bottom: 5px;
}

.vacancy__list {
    padding-left: 30px;
}

.vacancy__content-slogan {
    color: #000000;
    margin: 20px 0 30px;
}

.vacancy__btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 10px 65px;
    background: #7774FF;
    border-radius: 10px;
    color: #FFFFFF;
}

.vacancy__btn:hover {
    transition: background-color .3s;
    background-color: #8f8efd;
}

/* BLOG PAGE*/

.blog {
    padding-bottom: 74px;
}

.blog-top {
    padding: 14px 0 40px;
    text-align: center;
}

.blog-top__title {
    margin-bottom: 23px;
}

.blog__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 45px;
}

.blog__item {
    max-width: 323px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 40px rgba(4, 0, 200, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
}

.blog__img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.blog__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 5px;
}

.blog__info {
    padding: 20px 15px 17px;
}

.blog__data-post,
.blog__data-author {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin: 0 20px 5px 0;
    position: relative;
}

.blog__data-post::after {
    content: url(../images/icons/circle.svg);
    position: absolute;
    top: -1px;
    right: -14px;
}

.blog__excerpt-more {
    display: inline-flex;
    align-items: center;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin-left: 10px;
}

/* POLICY PAGE*/

.policy {
    padding-bottom: 65px;
}

.policy__title {
    margin: 20px 0 30px;
}

.policy__text {
    margin-bottom: 10px;
}

/* PAGE templat*/

.page {
    padding-bottom: 65px;
}

.page__title {
    margin: 20px 0 30px;
}

.page__link {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 10px;
}

.page__link:hover {
    text-decoration: underline;
}

/* ARTICLE PAGE*/

.article {
    padding-bottom: 39px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.article__top {
    margin-bottom: 30px;
}

.article__inner {
    padding: 16px 0px 50px;
}

.article__column {
    display: flex;
    justify-content: space-between;
}

.article__contents {
    max-width: 640px;
    margin-bottom: 63px;
    margin-right: 20px;
}

.article__aside {
    position: sticky;
    right: 0;
    top: 20px;
    width: 350px;
    height: 100%;
}

.article__bottom-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 30px;
}

.article__bottom-inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.article__bottom-item {
    flex-basis: 300px;
}

.article__bottom-item-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.article__bottom-link-more {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.article__bottom-text {
    margin-bottom: 5px;
}

.article__aside-inner {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 60px rgba(4, 0, 200, 0.1);
    border-radius: 20px;
    padding: 23px 26px 33px;
}

.article__top-img {
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 30px;
}

.article__top-list {
    list-style: none;
    margin-bottom: 30px;
}

a.article__top-link {
    display: block;
    text-decoration-line: underline;
    color: #5351B8;
    margin-bottom: 10px;
    text-decoration: underline;
}

.article__top-title {
    margin-bottom: 15px;
}

.article__title {
    margin-bottom: 30px;
}

.article__text {
    margin-bottom: 20px;
}

.aside__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 30px;
}

.article__aside-list-item {
    margin-bottom: 10px;
}

.article__aside-list-item:last-child {
    margin-bottom: 0;
}

.article__aside-list-item-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.article__aside-price {
    font-weight: 300;
    margin-bottom: 5px;
}

.article__aside-company {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.article__aside-list-items {
    margin-bottom: 30px;
}

.article__aside-list-items:last-child {
    margin-bottom: 0;
}

/* CONTACT PAGE */

.contacts__list-item {
    margin-bottom: 20px;
}

/* MEDIA */

@media (max-width: 1020px) {
    .offer__content {
        max-width: 100%;
    }

    .article__bottom-item:last-child {
        display: none;
    }

    .article__aside-inner {
        background: transparent;
        box-shadow: none;
        backdrop-filter: none;
        border-radius: 0px;
        padding: 0px 0px 30px 0px;
    }

    .article__aside-list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .article__aside-list-item {
        width: 220px;
        display: flex;
        flex-direction: column;
    }

    .article__contents {
        max-width: 100%;
    }

    .article__aside {
        width: 100%;
    }

    .article__column {
        flex-direction: column-reverse;
    }

    .article__aside {
        position: static;
    }

    .filter {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 650px;
        z-index: 10;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px -5px 60px rgba(51, 48, 157, 0.3);
        border-radius: 20px 20px 0px 0px;
        transform: translateX(-500%);
        transition: all .3s;

    }

    .filter--active {
        transform: translateX(0%);
        transition: all .3s;
    }

    .filter-btn-close {
        display: block;
        margin-left: auto;
        margin-bottom: 17px;
    }

    .filter-search__input {
        width: 40%;
    }

    .filter-btn {
        display: flex;
        align-items: center;
        position: relative;
        width: 67px;
        height: 27px;
    }

    .filter-btn::after {
        content: url(../images/icons/filter.svg);
        position: absolute;
        right: 6px;
        top: 6px;
    }

    .offer__preview {
        background: rgba(255, 255, 255, 0);
        padding: 0px;
    }

    .blog__inner {
        justify-content: center;
    }

    .blog__item {
        margin-right: 10px;
    }

    .article__inner {
        padding: 16px 25px 50px;
    }

    .footer__item {
        margin-bottom: 40px;
    }

    .footer__contact-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__copy {
        margin-bottom: 18px;
    }
}

@media (max-width: 700px) {

    .header__inner {
        padding: 15px 0px;
    }

    .blog__item {
        display: flex;
        max-width: 100%;
        margin-right: 0px;
    }

    .blog__img {
        object-fit: cover;
        border-radius: 20px 0 0 20px;
        height: 100%;
        width: 200px;
    }

    .vacancy-top {
        display: none;
    }

    .vacancy__inner {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .vacancy-benefits__box,
    .vacancy-benefits__text {
        align-self: flex-start;
        text-align: left;
    }

    .vacancy__info {
        margin-bottom: 15px;
    }
}

@media (max-width: 550px) {

    .logo__img {
        width: 20px;
        height: 20px;
    }

    body {
        font-size: 14px;
        line-height: 17px;
    }

    .top__subtitle-job,
    .offer__preview-top-link,
    .offer__lead-more,
    .breadcrumbs__link,
    .article__contents-list,
    .article__text,
    .vacancy__info-item,
    .vacancy-benefits__text,
    .vacancy__info-link,
    .vacancy__content-text,
    .vacancy__list-item,
    .vacancy__content-slogan,
    .vacancy__content-title,
    .aside__title,
    .article__bottom-title {
        font-size: 12px;
        line-height: 15px;
    }

    .header__inner {
        align-items: center;
    }

    .filter-search__input {
        width: 80%;
    }

    .search__btn {
        display: none;
    }

    .header-page {
        padding-bottom: 0px;
    }

    .header__languages {
        gap: 18px;
    }

    .top__slogan {
        margin-bottom: 20px;
    }

    .top__control-title {
        display: none;
    }

    .top__control {
        margin: 20px 0px 27px;
    }

    .top__control-btns {
        column-gap: 10px;
        row-gap: 15px;
    }

    .top-control-btn {
        padding: 5px 10px;
    }

    .offer__preview-top-title {
        font-size: 16px;
        line-height: 19px;
    }

    .offer__meta-btn {
        padding: 5px 10px 5px 10px;
    }

    .search {
        margin-bottom: 20px;
    }

    .container-article {
        padding: 0;
    }

    .breadcrumbs {
        padding: 20px 0;
    }

    .article {
        padding-bottom: 0;
    }

    .article__inner {
        padding: 0px 0px 20px;
        border-radius: 0px;
    }

    .blog__title {
        font-size: 14px;
        line-height: 17px;
    }

    .blog__excerpt {
        font-size: 12px;
        line-height: 15px;
    }

    .blog__data-post,
    .blog__data-author,
    .article__aside-list-item-title,
    .article__aside-price,
    .article__aside-company,
    .article__bottom-item-title,
    .article__bottom-text,
    .article__bottom-link-more {
        font-size: 10px;
        line-height: 12px;
    }

    .article__contents {
        margin-bottom: 10px;
    }

    .aside__title,
    .article__bottom-title {
        margin-bottom: 15px;
    }

    .blog__excerpt-more {
        display: none;
    }

    .policy {
        padding-bottom: 35px;
    }

    .policy__title {
        margin: 0;
    }

    .vacancy {
        padding-bottom: 35px;
    }

    .vacancy__info-title {
        font-size: 16px;
        line-height: 19px;
    }

    .vacancy__info-link {
        width: 79px;
        height: 25px;
    }

    .vacancy-benefits__subtitle {
        font-size: 14px;
        line-height: 17px;
    }

    .vacancy-benefits__box {
        margin-bottom: 10px;
    }

    .vacancy__btn {
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
    }

    .footer__contact {
        width: 280px;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    .page__subtitle {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 450px) {
    body {
        font-weight: 400;
    }

    .blog__img {
        width: 130px;
    }

    .footer__contact {
        margin-bottom: 0;
    }
}